@using Medica.Models;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Medica Martinez</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/daypilot")
            
    @*<script src="@Url.Content("~/Scripts/DayPilot/daypilot-all.min.js")" type="text/javascript"></script>*@

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar" ></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Medica Martinez", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="pure-menu-item">@Html.MenuLink("Consultas", "Index", "Consultas")</li>
                    <li class="pure-menu-item">@Html.MenuLink("Medicos", "Index", "Medicos")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Catalogos <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="pure-menu-item">@Html.MenuLink("Consultas", "ListView", "Consultas")</li>
                            <li class="pure-menu-item">@Html.MenuLink("Pacientes", "Index", "Pacientes")</li>
                            <li class="pure-menu-item">@Html.MenuLink("Especialidades", "Index", "Especialidades")</li>
                            <li class="divider"></li>
                            <li class="pure-menu-item">@Html.MenuLink("MedicoEspecialidads", "Index", "MedicoEspecialidads")</li>
                            <li class="divider"></li>
                            <li class="pure-menu-item">@Html.MenuLink("Generos", "Index", "Generoes")</li>
                         </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Derechos Reservados Medica Martinez</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var logic = function (currentDateTime) {
            // 'this' is jquery object datetimepicker
            if (currentDateTime.getDay() == 6) {
                this.setOptions({
                    minTime: '11:00',
                    maxTime: '16:00'
                });
            } else
                this.setOptions({
                    minTime: '8:00',
                    maxTime: '21:00'
                });
        };

        $(function () {
            $('.date-time-picker').datetimepicker({
                mask: '9999/19/39 29:59',
                lazyInit: true,
                step: 30,
                onChangeDateTime: logic,
                onShow: logic
            });
        });
    </script>
</body>
</html>
