@model IEnumerable<Medica.Medico>

@{
    ViewBag.Title = "Nuestros Medicos";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th colspan="3">
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            Especialiad
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Foto)
        </td>
        <td>
            @Html.Action("PorMedico" , new { item.MedicoID})
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MedicoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MedicoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MedicoID })
        </td>
    </tr>
}

</table>
