@using DayPilot.Web.Mvc;
@using DayPilot.Web.Mvc.Events.Calendar
@using DayPilot.Web.Mvc.Enums.Navigator
@using ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType

@{
    ViewBag.Title = "Home";
}

<h2>Inicio</h2>
<p>
    @Html.ActionLink("Consultas", "../Consultas")
</p>
<p>
    @Html.ActionLink("Generos", "../Generoes")
</p>
<p>
    @Html.ActionLink("Medicos","../Medicos")
</p>
<p>
    @Html.ActionLink("Pacientes", "../Pacientes")
</p>
<p>
    @Html.ActionLink("Especialidades", "../Especialidades")
</p>
<p>
    @Html.ActionLink("MedicoEspecialidads", "../MedicoEspecialidads")
</p>



    <table>
        <tr>
            <td>
                @Html.DayPilotNavigator("dpn", new DayPilotNavigatorConfig
       {
           BoundDayPilot = "dpc",
           SelectMode = NavigatorSelectMode.Day
       })
            </td>
            <td width="1300px">

                @Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
       {
           BackendUrl = Url.Action("BackEnd", "Home"),
           ViewType = ViewType.WorkWeek,
           TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.JavaScript,
           TimeRangeSelectedJavaScript = "create(start, end)",
           EventMoveHandling = EventMoveHandlingType.CallBack,
           EventClickHandling = EventClickHandlingType.JavaScript,
           EventClickJavaScript = "edit(e)",
           TimeFormat = DayPilot.Web.Mvc.Enums.TimeFormat.Clock24Hours,
           EventDeleteHandling = EventDeleteHandlingType.CallBack
       })
            </td>
        </tr>
    </table>
    

<script type="text/javascript">

    function create(start, end) {
        var m = new DayPilot.Modal();
        m.closed = function () {
            if (this.result == "OK") {
                dpc.commandCallBack('refresh');
            }
            dpc.clearSelection();
        };
        @*m.showUrl('@Url.Action("Create", "Consulta")?start=' + start + '&end=' + end);*@
        m.showUrl('@Url.Action("CreateDated", "Consultas")?Fecha=' + start + '&FechaFin=' + end);
    };
    
    function edit(e) {
        var m = new DayPilot.Modal();
        m.closed = function () {
            if (this.result == "OK") {
                dpc.commandCallBack('refresh');
            }
            dpc.clearSelection();
        };
        m.showUrl('@Url.Action("Edit", "Consultas")/' + e.id());
    };
    

</script>