
@{
    ViewBag.Title = "Home";
}

<h2>Inicio</h2>
<p>
    @Html.ActionLink("Consultas", "../Consultas")
</p>
<p>
    @Html.ActionLink("Generos", "../Generoes")
</p>
<p>
    @Html.ActionLink("Medicos","../Medicos")
</p>
<p>
    @Html.ActionLink("Pacientes", "../Pacientes")
</p>
<p>
    @Html.ActionLink("Especialidades", "../Especialidades")
</p>
<p>
    @Html.ActionLink("MedicoEspecialidads", "../MedicoEspecialidads")
</p>


<p>
    
    @Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
{
    BackendUrl = Url.Action("BackEnd","Home"),
    ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Week,
    TimeRangeSelectedHandling = DayPilot.Web.Mvc.Events.Calendar.TimeRangeSelectedHandlingType.JavaScript,
    TimeRangeSelectedJavaScript = "create(start, end)",
    EventMoveHandling = DayPilot.Web.Mvc.Events.Calendar.EventMoveHandlingType.CallBack
})
</p>